$bg-color: #21202E;
$accent: #00C2FF;
$red: #FF5E5E;
$green: #0de054;

.red {
    color: $red;
}
.green { 
    color: $green;
}
.accent {
    color: $accent;
}
.grey { 
    color: rgb(124, 124, 124);
}

.disclaimer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    @media (min-width: 1440px) {
        display: none;
    }
    p {
        margin-top: 32px;
    }
}

.container {
    @media (max-width: 1440px) {
        display: none;
    }
    padding: 0;
    margin: 0;
    padding-bottom: 24px;
    width: 100vw;
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    .content_container {
        width: 90vw;
        height: fit-content;
        display: flex;
        flex-direction: column;
        row-gap: 18px;
        .trading_sequence {
            margin-top: 8px;
            display: flex;
            flex-wrap: wrap;
            column-gap: 5px;
            row-gap: 5px;
        }
        .sequence {
            border: 1px solid white;
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            &.sell {
                border: 1px solid $red;
                color: $red;
            }
            &.buy { 
                border: 1px solid $green;
                color: $green;
            }
        }
        .links {
            transition: .25s ease;
            color: $accent;
            cursor: pointer;
            &:hover {
                opacity: .5;
            }
        }
        .btn {
            cursor: pointer;
            padding: 12px 24px;
            box-shadow: none;
            font-weight: bold;
            align-items: center;
            display: flex;
            border-radius: 8px;
            text-align: center;
            p {
                margin: 0;
                padding: 0;
            }
            &.primary {
                transition: .35s ease;
                background-color: $accent;
                &:hover {
                    background-color: #00c3ff80;
                }
            }
            &.secondary {
                transition: .35s ease;
                background-color: none;
                border: 1px solid $accent;
                p {
                    color: $accent;
                }
                &:hover {
                    background-color: #00c3ff80;
                    p {
                        color: white;

                    }
                }
            }
        }
        .title {
            p {
                color: $accent;
            }
        }
        .section {
            display: flex;
            column-gap: 18px;
            .subsection {
                width: fit-content;
                overflow: visible;
                display: flex;
                flex-direction: column;
                row-gap: 18px;
            }
        }
        .configuration_container {
            display: flex;
            align-items: center;
            .configurations {
                display: flex;
                flex: 1;
                align-items: center;
                column-gap: 32px;
                border: none;
                .subcontainer {
                    p {
                        color: $accent;
                    }
                    .title {
                        margin-bottom: 4px;
                    }
                }
                .divider {
                    height: 32px;
                    width: 1px;
                    background-color: #d4d4d4;
                }
            }
        }
        
        .chart_container {
            background-color: #272436;
            border: 1px solid #D4D4D4;
            padding: 24px;
            box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            width: fit-content;
            height: fit-content;
            .lineChart {
                height: 40vh;
                width: 60vw;
                div {
                    overflow-y: hidden;
                }
            }
        }
        .t_simulation_stats {
            display: flex;
            column-gap: 18px;
            width: calc(60vw + 48px);
            flex-grow: 1;
            .simulate_trading {
                display: flex;
                height: fit-content;
                align-items: center;
                column-gap: 8px;
                justify-content: space-between;
                margin-bottom: 18px;
                .title {
                    color: $accent;
                    margin-bottom: 4px;
                }
            }
            .subcontainer {
                flex: 1;
                background-color: #272436;
                border: 1px solid #D4D4D4;
                padding: 24px;
                box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.2);
                border-radius: 10px;
                flex-grow: 1;
            }
            .sub_title {
                margin-bottom: 7px;
            }
            .optimal_trading {
                height: 100%;
                .trading_sequence {
                    height: 100px;
                    overflow: auto;
                     /* width */
                    &::-webkit-scrollbar {
                        border-radius: 5px;
                        width: 5px;
                    }
                    
                    /* Track */
                    &::-webkit-scrollbar-track {
                        border-radius: 5px;
                        background: #f1f1f1;
                    }
                    
                    /* Handle */
                    &::-webkit-scrollbar-thumb {
                        border-radius: 5px;
                        background: $accent;
                    }
                    
                    /* Handle on hover */
                    &::-webkit-scrollbar-thumb:hover {
                        background: #555;
                    }
                }
                .note_title {
                    margin-top: 18px;
                    margin-bottom: 8px;
                }
                .sequence_note {
                    display: flex;
                    column-gap: 16px;
                    div {
                        display: flex;
                        column-gap: 8px;
                    }
                }
            }
        }
        .simulation_list {
            align-self: stretch;
            height: 80vh;
            flex-grow: 1;
            background-color: #272436;
            border: 1px solid #D4D4D4;
            padding: 24px;
            box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            scrollbar-width: 3px;
            overflow: hidden;

            .header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .btn {
                    padding: 4px 12px;
                    p {
                        font-size: 12px;
                    }
                }
                .sub_title {
                    margin: 0;
                }
            }
            .sub_title {
                margin-bottom: 18px; 
                margin-top: 18px; 
                &:first-child {
                    margin-top: 0px;
                }
            }

            .simulation {
                $margin-top: 18px;
                overflow: auto;
                height: calc(100% - 36px);
                margin-top: $margin-top;
                
                .simulation_card { 
                    border-top: 0.25px solid white;
                    border-bottom: 0.25px solid white;
                    padding: 16px;
                    cursor: pointer;
                    &:hover {
                        background-color: #21202E;
                    }
                    h3 {
                        color: $accent;
                    }
                    h4 {
                        margin-top: 12px;
                        padding-bottom: 8px;
                        margin-bottom: 4px;
                        border-bottom: 1px solid white;
                    }
                    span {
                    font-weight: bold;
                    }

                    &:first-child {
                        border-top: none;
                    }
                    &:last-child {
                        border-bottom: none;
                    }
                }
                
                /* width */
                &::-webkit-scrollbar {
                    border-radius: 5px;
                    width: 5px;
                }
                
                /* Track */
                &::-webkit-scrollbar-track {
                    border-radius: 5px;
                    background: #f1f1f1;
                }
                
                /* Handle */
                &::-webkit-scrollbar-thumb {
                    border-radius: 5px;
                    background: $accent;
                }
                
                /* Handle on hover */
                &::-webkit-scrollbar-thumb:hover {
                    background: #555;
                }
            }
            
        }
    }

    .custom_input {
        background-color: transparent;
        border: 1px solid white;
        color: white;
        padding: 4px 8px;
        border-radius: 4px;
        outline: none;
        box-sizing: border-box;
        &:focus {
            border: 1px solid $accent;
        }

        &[type=date]::-webkit-calendar-picker-indicator {
            filter: invert(1);
        }
    }
}